{
    "swagger": "2.0",
    "info": {
        "title": "Invoice Ninja API",
        "description": "An open-source invoicing and time-tracking app built with Laravel",
        "termsOfService": "",
        "contact": {
            "email": "contact@invoiceninja.com"
        },
        "license": {
            "name": "Attribution Assurance License",
            "url": "https://raw.githubusercontent.com/invoiceninja/invoiceninja/master/LICENSE"
        },
        "version": "1.0.0"
    },
    "host": "ninja.dev",
    "basePath": "/api/v1",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/clients": {
            "get": {
                "tags": [
                    "client"
                ],
                "summary": "List clients",
                "operationId": "listClients",
                "parameters": [
                    {
                      "name": "email",
                      "in": "query",
                      "description": "search clients by their email address",
                      "type": "string"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "number of results returned per page",
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number of results to return when the results are paginated",
                        "type": "integer"
                    },
                    {
                        "name": "updated_at",
                        "in": "query",
                        "description": "Timestamp used as a filter to only show recently updated records",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of clients",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "client"
                ],
                "summary": "Create a client",
                "operationId": "createClient",
                "parameters": [
                    {
                        "name": "client",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Client"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New client",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/clients/{client_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "summary": "Retrieve a client",
                "operationId": "getClient",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single client",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "client"
                ],
                "summary": "Update a client",
                "operationId": "updateClient",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "client",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Client"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated client",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "client"
                ],
                "summary": "Delete a client",
                "operationId": "deleteClient",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted client",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Client"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/contacts": {
            "get": {
                "tags": [
                    "contact"
                ],
                "summary": "List contacts",
                "responses": {
                    "200": {
                        "description": "A list of contacts",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "contact"
                ],
                "summary": "Create a contact",
                "parameters": [
                    {
                        "name": "contact",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New contact",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/contacts/{contact_id}": {
            "get": {
                "tags": [
                    "contact"
                ],
                "summary": "Retrieve a contact",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single contact",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "contact"
                ],
                "summary": "Update a contact",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "contact",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated contact",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact"
                ],
                "summary": "Delete a contact",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted contact",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Contact"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/documents": {
            "get": {
                "tags": [
                    "document"
                ],
                "summary": "List document",
                "operationId": "listDocuments",
                "responses": {
                    "200": {
                        "description": "A list of documents",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "document"
                ],
                "summary": "Create a document",
                "operationId": "createDocument",
                "parameters": [
                    {
                        "name": "document",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New document",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/documents/{document_id}": {
            "get": {
                "tags": [
                    "document"
                ],
                "summary": "Download a document",
                "operationId": "getDocument",
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A file",
                        "schema": {
                            "type": "file"
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "document"
                ],
                "summary": "Delete a document",
                "operationId": "deleteDocument",
                "parameters": [
                    {
                        "name": "document_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted document",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Document"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/expenses": {
            "get": {
                "tags": [
                    "expense"
                ],
                "summary": "List expenses",
                "operationId": "listExpenses",
                "responses": {
                    "200": {
                        "description": "A list of expenses",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Expense"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "expense"
                ],
                "summary": "Create an expense",
                "operationId": "createExpense",
                "parameters": [
                    {
                        "name": "expense",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Expense"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New expense",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Expense"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/expenses/{expense_id}": {
            "get": {
                "tags": [
                    "expense"
                ],
                "summary": "Retrieve an expense",
                "operationId": "getExpense",
                "parameters": [
                    {
                        "name": "expense_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single expense",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Expense"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "expense"
                ],
                "summary": "Update an expense",
                "operationId": "updateExpense",
                "parameters": [
                    {
                        "name": "expense_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expense",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Expense"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated expense",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Expense"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "expense"
                ],
                "summary": "Delete an expense",
                "operationId": "deleteExpense",
                "parameters": [
                    {
                        "name": "expense_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted expense",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Expense"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/expense_categories": {
            "get": {
                "tags": [
                    "expense_category"
                ],
                "summary": "List expense categories",
                "operationId": "listExpenseCategories",
                "responses": {
                    "200": {
                        "description": "A list of expense categories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExpenseCategory"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "expense_category"
                ],
                "summary": "Create an expense category",
                "operationId": "createExpenseCategory",
                "parameters": [
                    {
                        "name": "expense_category",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ExpenseCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New expense category",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ExpenseCategory"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/expense_categories/{expense_category_id}": {
            "get": {
                "tags": [
                    "expense_category"
                ],
                "summary": "Retrieve an Expense Category",
                "operationId": "getExpenseCategory",
                "parameters": [
                    {
                        "name": "expense_category_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single expense categroy",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ExpenseCategory"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "expense_category"
                ],
                "summary": "Update an expense category",
                "operationId": "updateExpenseCategory",
                "parameters": [
                    {
                        "name": "expense_category_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "expense_category",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ExpenseCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated expense category",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ExpenseCategory"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "expense_category"
                ],
                "summary": "Delete an expense category",
                "operationId": "deleteExpenseCategory",
                "parameters": [
                    {
                        "name": "expense_category_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted expense category",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ExpenseCategory"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/invoices": {
            "get": {
                "tags": [
                    "invoice"
                ],
                "summary": "List invoices",
                "operationId": "listInvoices",
                "parameters": [
                    {
                      "name": "invoice_number",
                      "in": "query",
                      "description": "search invoices by their invoice number",
                      "type": "string"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "number of results returned per page",
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number of results to return when the results are paginated",
                        "type": "integer"
                    },
                    {
                        "name": "updated_at",
                        "in": "query",
                        "description": "Timestamp used as a filter to only show recently updated records",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of invoices",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Invoice"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "invoice"
                ],
                "summary": "Create an invoice",
                "operationId": "createInvoice",
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Invoice"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New invoice",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Invoice"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/invoices/{invoice_id}": {
            "get": {
                "tags": [
                    "invoice"
                ],
                "summary": "Retrieve an Invoice",
                "operationId": "getInvoice",
                "parameters": [
                    {
                        "name": "invoice_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single invoice",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Invoice"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "invoice"
                ],
                "summary": "Update an invoice",
                "operationId": "updateInvoice",
                "parameters": [
                    {
                        "name": "invoice_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "invoice",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Invoice"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated invoice",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Invoice"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "invoice"
                ],
                "summary": "Delete an invoice",
                "operationId": "deleteInvoice",
                "parameters": [
                    {
                        "name": "invoice_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted invoice",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Invoice"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/payments": {
            "get": {
                "tags": [
                    "payment"
                ],
                "summary": "List payments",
                "operationId": "listPayments",
                "responses": {
                    "200": {
                        "description": "A list of payments",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "payment"
                ],
                "summary": "Create a payment",
                "operationId": "createPayment",
                "parameters": [
                    {
                        "name": "payment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Payment"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New payment",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/payments/{payment_id}": {
            "get": {
                "tags": [
                    "payment"
                ],
                "summary": "Retrieve a payment",
                "operationId": "getPayment",
                "parameters": [
                    {
                        "name": "payment_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single payment",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "payment"
                ],
                "summary": "Update a payment",
                "operationId": "updatePayment",
                "parameters": [
                    {
                        "name": "payment_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "payment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Payment"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated payment",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "payment"
                ],
                "summary": "Delete a payment",
                "operationId": "deletePayment",
                "parameters": [
                    {
                        "name": "payment_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted payment",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Payment"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "List products",
                "operationId": "listProducts",
                "responses": {
                    "200": {
                        "description": "A list of products",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "product"
                ],
                "summary": "Create a product",
                "operationId": "createProduct",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New product",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/products/{product_id}": {
            "get": {
                "tags": [
                    "product"
                ],
                "summary": "Retrieve a product",
                "operationId": "getProduct",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single product",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "product"
                ],
                "summary": "Update a product",
                "operationId": "updateProduct",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "product",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Product"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated product",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "product"
                ],
                "summary": "Delete a product",
                "operationId": "deleteProduct",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted product",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Product"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/quotes": {
            "get": {
                "tags": [
                    "quote"
                ],
                "summary": "List quotes",
                "operationId": "listQuotes",
                "responses": {
                    "200": {
                        "description": "A list of quotes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Invoice"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/tasks": {
            "get": {
                "tags": [
                    "task"
                ],
                "summary": "List tasks",
                "operationId": "listTasks",
                "responses": {
                    "200": {
                        "description": "A list of tasks",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "task"
                ],
                "summary": "Create a task",
                "operationId": "createTask",
                "parameters": [
                    {
                        "name": "task",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Task"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New task",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/tasks/{task_id}": {
            "get": {
                "tags": [
                    "task"
                ],
                "summary": "Retrieve a task",
                "operationId": "getTask",
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single task",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "task"
                ],
                "summary": "Update a task",
                "operationId": "updateTask",
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Task"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update task",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "task"
                ],
                "summary": "Delete a task",
                "operationId": "deleteTask",
                "parameters": [
                    {
                        "name": "task_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted task",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Task"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/tax_rates": {
            "get": {
                "tags": [
                    "tax_rate"
                ],
                "summary": "List tax rates",
                "operationId": "listTaxRates",
                "responses": {
                    "200": {
                        "description": "A list of tax rates",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaxRate"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "tax_rate"
                ],
                "summary": "Create a tax rate",
                "operationId": "createTaxRate",
                "parameters": [
                    {
                        "name": "tax_rate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TaxRate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New tax rate",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/TaxRate"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/tax_rates/{tax_rate_id}": {
            "get": {
                "tags": [
                    "tax_rate"
                ],
                "summary": "Retrieve a tax rate",
                "operationId": "getTaxRate",
                "parameters": [
                    {
                        "name": "tax_rate_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single tax rate",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/TaxRate"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "tax_rate"
                ],
                "summary": "Update a tax rate",
                "operationId": "updateTaxRate",
                "parameters": [
                    {
                        "name": "tax_rate_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "tax_rate",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TaxRate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated tax rate",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/TaxRate"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "tax_rate"
                ],
                "summary": "Delete a tax rate",
                "operationId": "deleteTaxRate",
                "parameters": [
                    {
                        "name": "tax_rate_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted tax rate",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/TaxRate"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "List users",
                "operationId": "listUsers",
                "responses": {
                    "200": {
                        "description": "A list of users",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Create a user",
                "operationId": "createUser",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New user",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/users/{user_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "summary": "Retrieve a user",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single user",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "user"
                ],
                "summary": "Update a user",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "user",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated user",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "user"
                ],
                "summary": "Delete a user",
                "operationId": "deleteUser",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted user",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/vendors": {
            "get": {
                "tags": [
                    "vendor"
                ],
                "summary": "List vendors",
                "operationId": "listVendors",
                "responses": {
                    "200": {
                        "description": "A list of vendors",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Vendor"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "post": {
                "tags": [
                    "vendor"
                ],
                "summary": "Create a vendor",
                "operationId": "createVendor",
                "parameters": [
                    {
                        "name": "vendor",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Vendor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "New vendor",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Vendor"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        },
        "/vendors/{vendor_id}": {
            "get": {
                "tags": [
                    "client"
                ],
                "summary": "Retrieve a vendor",
                "operationId": "getVendor",
                "parameters": [
                    {
                        "name": "vendor_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single vendor",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Vendor"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "put": {
                "tags": [
                    "vendor"
                ],
                "summary": "Update a vendor",
                "operationId": "updateVendor",
                "parameters": [
                    {
                        "name": "vendor_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "vendor",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Vendor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated vendor",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Vendor"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "vendor"
                ],
                "summary": "Delete a vendor",
                "operationId": "deleteVendor",
                "parameters": [
                    {
                        "name": "vendor_id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted vendor",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/Vendor"
                            }
                        }
                    },
                    "default": {
                        "description": "an \"unexpected\" error"
                    }
                }
            }
        }
    },
    "definitions": {
        "Activity": {
            "xml": {
                "name": "Activity"
            }
        },
        "Client": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "balance": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "paid_to_date": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "user_id": {
                    "type": "integer",
                    "example": 1
                },
                "account_key": {
                    "type": "string",
                    "example": "123456"
                },
                "updated_at": {
                    "type": "timestamp",
                    "example": ""
                },
                "archived_at": {
                    "type": "timestamp",
                    "example": "1451160233"
                },
                "address1": {
                    "type": "string",
                    "example": "10 Main St."
                },
                "address2": {
                    "type": "string",
                    "example": "1st Floor"
                },
                "city": {
                    "type": "string",
                    "example": "New York"
                },
                "state": {
                    "type": "string",
                    "example": "NY"
                },
                "postal_code": {
                    "type": "string",
                    "example": 10010
                },
                "country_id": {
                    "type": "integer",
                    "example": 840
                },
                "work_phone": {
                    "type": "string",
                    "example": "(212) 555-1212"
                },
                "private_notes": {
                    "type": "string",
                    "example": "Notes..."
                },
                "last_login": {
                    "type": "date-time",
                    "example": "2016-01-01 12:10:00"
                },
                "website": {
                    "type": "string",
                    "example": "http://www.example.com"
                },
                "industry_id": {
                    "type": "integer",
                    "example": 1
                },
                "size_id": {
                    "type": "integer",
                    "example": 1
                },
                "is_deleted": {
                    "type": "boolean",
                    "example": false
                },
                "payment_terms": {
                    "type": "",
                    "example": 30
                },
                "custom_value1": {
                    "type": "string",
                    "example": "Value"
                },
                "custom_value2": {
                    "type": "string",
                    "example": "Value"
                },
                "vat_number": {
                    "type": "string",
                    "example": "123456"
                },
                "id_number": {
                    "type": "string",
                    "example": "123456"
                },
                "language_id": {
                    "type": "integer",
                    "example": 1
                }
            },
            "xml": {
                "name": "Client"
            }
        },
        "Contact": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "first_name": {
                    "type": "string",
                    "example": "John"
                },
                "last_name": {
                    "type": "string",
                    "example": "Doe"
                },
                "email": {
                    "type": "string",
                    "example": "john.doe@company.com"
                },
                "updated_at": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1451160233
                },
                "archived_at": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1451160233
                },
                "is_primary": {
                    "type": "boolean",
                    "example": false
                },
                "phone": {
                    "type": "string",
                    "example": "(212) 555-1212"
                },
                "last_login": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2016-01-01 12:10:00"
                },
                "send_invoice": {
                    "type": "boolean",
                    "example": false
                }
            },
            "xml": {
                "name": "Contact"
            }
        },
        "Document": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "Test"
                },
                "type": {
                    "type": "string",
                    "example": "CSV"
                },
                "invoice_id": {
                    "type": "integer",
                    "example": 1
                },
                "updated_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                },
                "archived_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                }
            },
            "xml": {
                "name": "Document"
            }
        },
        "ExpenseCategory": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "Sample"
                },
                "updated_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                },
                "archived_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                }
            },
            "xml": {
                "name": "ExpenseCategory"
            }
        },
        "Invoice": {
            "required": [
                "invoice_number"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "amount": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "balance": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "client_id": {
                    "type": "integer",
                    "example": 1
                },
                "invoice_number": {
                    "type": "string",
                    "example": "0001"
                },
                "invoice_status_id": {
                    "type": "integer",
                    "example": 1
                }
            },
            "xml": {
                "name": "Invoice"
            }
        },
        "Payment": {
            "required": [
                "invoice_id"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "amount": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "invoice_id": {
                    "type": "integer",
                    "example": 1
                }
            },
            "xml": {
                "name": "Payment"
            }
        },
        "Product": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "product_key": {
                    "type": "string",
                    "example": "Item"
                },
                "notes": {
                    "type": "string",
                    "example": "Notes..."
                },
                "cost": {
                    "type": "float",
                    "example": 10
                },
                "qty": {
                    "type": "float",
                    "example": 1
                },
                "default_tax_rate_id": {
                    "type": "integer",
                    "example": 1
                },
                "updated_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                },
                "archived_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                }
            },
            "xml": {
                "name": "Product"
            }
        },
        "Project": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "Sample"
                },
                "client_id": {
                    "type": "integer",
                    "example": 1
                },
                "updated_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                },
                "archived_at": {
                    "type": "timestamp",
                    "readOnly": true,
                    "example": 1451160233
                },
                "is_deleted": {
                    "type": "boolean",
                    "readOnly": true,
                    "example": false
                }
            },
            "xml": {
                "name": "Project"
            }
        },
        "Task": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "amount": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "invoice_id": {
                    "type": "integer",
                    "example": 1
                }
            },
            "xml": {
                "name": "Task"
            }
        },
        "TaxRate": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "GST"
                },
                "account_key": {
                    "type": "string",
                    "readOnly": true,
                    "example": "asimplestring"
                },
                "rate": {
                    "type": "float",
                    "example": 17.5
                },
                "is_inclusive": {
                    "type": "boolean",
                    "example": false
                },
                "updated_at": {
                    "type": "date-time",
                    "example": "2016-01-01 12:10:00"
                },
                "archived_at": {
                    "type": "date-time",
                    "example": "2016-01-01 12:10:00"
                }
            },
            "xml": {
                "name": "TaxRate"
            }
        },
        "Vendor": {
            "properties": {
                "id": {
                    "type": "integer",
                    "readOnly": true,
                    "example": 1
                },
                "balance": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "paid_to_date": {
                    "type": "float",
                    "readOnly": true,
                    "example": 10
                },
                "user_id": {
                    "type": "integer",
                    "example": 1
                },
                "account_key": {
                    "type": "string",
                    "example": "123456"
                },
                "updated_at": {
                    "type": "timestamp",
                    "example": ""
                },
                "archived_at": {
                    "type": "timestamp",
                    "example": "1451160233"
                },
                "address1": {
                    "type": "string",
                    "example": "10 Main St."
                },
                "address2": {
                    "type": "string",
                    "example": "1st Floor"
                },
                "city": {
                    "type": "string",
                    "example": "New York"
                },
                "state": {
                    "type": "string",
                    "example": "NY"
                },
                "postal_code": {
                    "type": "string",
                    "example": 10010
                },
                "country_id": {
                    "type": "integer",
                    "example": 840
                },
                "work_phone": {
                    "type": "string",
                    "example": "(212) 555-1212"
                },
                "private_notes": {
                    "type": "string",
                    "example": "Notes..."
                },
                "last_login": {
                    "type": "date-time",
                    "example": "2016-01-01 12:10:00"
                },
                "website": {
                    "type": "string",
                    "example": "http://www.example.com"
                },
                "is_deleted": {
                    "type": "boolean",
                    "example": false
                },
                "vat_number": {
                    "type": "string",
                    "example": "123456"
                },
                "id_number": {
                    "type": "string",
                    "example": "123456"
                }
            },
            "xml": {
                "name": "Vendor"
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "X-Ninja-Token",
            "in": "header"
        }
    },
    "security": [{
        "api_key": []
    }],
    "externalDocs": {
        "description": "Find out more about Invoice Ninja",
        "url": "https://www.invoiceninja.com"
    }
}
